	<div class="modifiers row container" id="evolution">
		<div class="title">How does it work?</div>
		<div class="helper">Simply enter some basic information about range of values that the glider can taken on in the form below.
			AlphaMorph's genetic algorithm will take care of the rest and evolve the best possible glider within your given parameters.
		</div>
		<div class="parameters container col s6">
			<form>
				<label>Your name</label>
				<input [(ngModel)] = "name" type="text" name="name">
				<div class="row">
					<div class="col s6">
						<label>How many generations?</label>
						<input [(ngModel)] = "generations" min=1 max=200 type="number" name="gen">
					</div>
					<div class="col s6">
						<label>How individuals per generation?</label>
						<input [(ngModel)] = "individuals" min=1 max=50 type="number" name="ind">
					</div>
				</div>
				<div class="row" *ngFor="let parameter of parameters">
					<div class="col s10">
						<label>{{parameter.name}}</label>
						<p class="range-field">
							<label>Minimun Value</label>
							<input [(ngModel)] = "min[parameter.name]" id="{{parameter.valueName}}" type="range" min="{{parameter.min}}" max="{{parameter.max}}" step="{{parameter.step}}" name="{{parameter.valueName}}min" />
						</p>
						<p class="range-field">
							<label>Maximun Value</label>
							<input [(ngModel)] = "max[parameter.name]" id="{{parameter.valueName}}" type="range" min="{{parameter.min}}" max="{{parameter.max}}" step="{{parameter.step}}" name="{{parameter.valueName}}max" />
				   		</p>
				   	</div>
				    <div class="container col s2" style="margin-top: 9px;">
				    	<input [(ngModel)] = "min[parameter.name]" type="number" name="{{parameter.valueName}}min">
				    	<input [(ngModel)] = "max[parameter.name]" type="number" name="{{parameter.valueName}}max">
				    </div>
			    </div>
			    <a (click) = "createGlider()" class="modal-trigger waves-effect waves-light btn" href="#modal2">Create Glider</a>
			</form>
		</div>
	</div>
	<div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
    	<!--
    	<div *ngIf="!conditional" class="preloader-wrapper big active">
		    <div class="spinner-layer spinner-blue-only">
		      <div class="circle-clipper left">
		        <div class="circle"></div>
		      </div><div class="gap-patch">
		        <div class="circle"></div>
		      </div><div class="circle-clipper right">
		        <div class="circle"></div>
		      </div>
		    </div>
		</div>
	  <div *ngIf="conditional">
		-->
		  <h5>Generation: {{place[0]}} | Individual: {{place[1]}}</h5>
	      <p *ngFor="let key of keys ">
	      	{{ key }} : {{best[key]}}
	      </p>
      <!--</div>-->
    </div>
    <div class="modal-footer">
    </div>
  </div>

